@width: 25px;
@height: @width;
@radius: 5px;

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    max-width: 450px;
    margin: auto;
    background-color: --main-color;
    
}

.section {
    background-color: #3f6c96;
    border-radius: @radius;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.cell{
    text-align: center;
    margin: 5px;
}

.inputCell {
    border-radius: @radius;
    text-align: center;
    width: @width;
    height: @height;
    background-color: #76b2e7;
}

.inputCell:disabled{
    background-color: #cddce9;
}

input.ng-invalid.ng-dirty {
    border-color: #a14d4d;
    background-color: #e29f9f;
}