<p>sudoku works!</p>

<form class="grid" [formGroup]="sudokuForm">
    <ng-container formArrayName="sections">
        <div class="section" [formGroupName]="i" *ngFor="let section of sections.controls; let i=index">
             <ng-container  formArrayName="section">
                <div class="cell" *ngFor="let sudokuCell of section.get('section')!.value; let j=index" [formGroupName]="j">
                    <input class="inputCell" formControlName="cell" >
                </div>
            </ng-container>            
        </div>
    </ng-container>
</form>


